/***************************************************************************/
/* This is for styling that is universal to most of the pages(EX. nav bar) */
/***************************************************************************/

/*********************/
/* header css starts */
/*********************/
.siteNav{
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: black 2px solid;
  z-index: 5;
}
.siteNav a[id="myAccount"]{
  margin-left: 20px;
  width: 50px;
  height: 100%;
}
.siteNav a[id="shoppingCart"]{
  margin-right: 20px;
  width: 50px;
  height: 100%;
}
.siteNav a[id="SiteInfo"]{
  height: 100%;
}

.transform{
  height: 40px;
  background-color: white
}

.transform-test{
  padding: 4px 8px 4px 8px !important;
}
.navbar{
  transition: 0.5s;
}

.siteNav img {
  width: 30px;
  height: 30px;
}

.siteNav .siteInfo{
  display: flex;
  color: black;
}

.siteNav .siteInfo .siteTitle{
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
}
.siteNav div.btn-nav{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
.siteNav .shoppingCartDiv{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.btn-outline-secondary:hover {
  background-color: transparent !important;
  /*border: black 3px solid;*/
}

.adoptNav{
  padding-top: 60px;
}
/***********************/
/* header bar css ends */
/***********************/


/**********************/
/* nav bar css starts */
/**********************/
div.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	background-color: rgb(53, 53, 53);
	transition: 0.2s;
	transform: translate(-300px);
	z-index: 5;
}
div.openNav {
	transform: translate(0); 
}

.navHeader{
  height: 50px;
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  border-bottom:white 2px solid;
}

.navHeader > .siteInfo{
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.navHeader > .siteInfo > .siteTitle{
  color: white;
  font-size: 15pt;
}

.navHeader > .siteInfo > .siteLogo{
  filter: invert(1);
}

.navHeader img{
  width: 20px;
  height: 20px;
} 

.nav .navContent{
  color: white;
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(80px);
}

.nav .navContent ul{
  list-style-type: none;
  font-size: 15pt;
}
.nav .navContent ul li{
  margin: 20px;
}
.nav .navContent ul a{
  color: inherit;
  display: flex;
  align-items: center;
}
.nav .navContent ul a img{
  width: 20px;
  height: 20px;
}

.navFooter{
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.navFooter .navFooterItems{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 10px;
}
.navFooter img{
  width: 30px;
  height: 30px;
}
/********************/
/* nav bar css ends */
/********************/