/***************************************/
/* This is for styling restaurant.html */
/***************************************/
.restaurantHead{
  position: relative;
  height: 360px;
  overflow: hidden;
  margin-bottom: 10px;
}
.restaurantHead .restaurantImage{
  object-fit: cover;
  width: 100%;
  height: 300px;
  z-index: -1;
}
.restaurantHead .restaurantImageBlur{
  position: absolute;
  width: 100%;
  height: 300px;
  top: 60px;
  background-color: rgba(0, 0, 0, 0.521);
  background-image:
  radial-gradient(rgba(66, 66, 66, 0.705) 2px, transparent 2px);
  background-size: 4px 4px;
  z-index: 0;
}
.restaurantHead .restaurantName{
  margin-left: 3px;
  font-weight: bold;
  font-size: 25pt;
  color: white;
}
.restaurantHead .restaurantStars img{
  width: 40px;
  height: 40px;
  margin-right: 2px;
  margin-left: 2px;
  filter: invert(1);
}

.restaurantHead .restaurantStars{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.restaurantHead .restaurantHeadRight img{
  width: 35px;
  height: 35px;
  filter: invert(1);
}

.restaurantHead .restaurantHeadLeft{
  margin-bottom: 10px;
}

.restaurantHead .restaurantHeadRight{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 200px;
}
.restaurantHead .restaurantHeadInfo{
  width: 100vw;
  margin: 0;
  transform: translateY(-100%);
}

.nav-tabs .nav-link[aria-selected=true]{
  color: black !important;
  font-weight: bold;
}
.nav-tabs .nav-link[aria-selected=false]{
  color: black !important;
}
.tab-content{
  margin: 15px;
}


.restaurant-bio{
  background-color: aliceblue; 
  border-radius: 10px;
  margin: 10px;
}
.restaurant-detail{
  background-color: aliceblue; 
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.restaurant-pictures{
  background-color: aliceblue; 
  border-radius: 10px;
  margin: 0 auto;
}
.restaurant-reviews{
  background-color: aliceblue; 
  border-radius: 10px;
  margin: 10px;
}
