/***************************************/
/* This is for styling restaurant.html */
/***************************************/
body{
  background-color: white !important;
}
.restaurantHead{
  position: relative;
  height: 360px;
  overflow: hidden;
  margin-bottom: 10px;
}
.restaurantHead .restaurantImage{
  object-fit: cover;
  width: 100%;
  height: 300px;
  z-index: -1;
}
.restaurantHead .restaurantImageBlur{
  position: absolute;
  width: 100%;
  height: 300px;
  top: 60px;
  background-color: rgba(0, 0, 0, 0.521);
  background-image:
  radial-gradient(rgba(66, 66, 66, 0.705) 2px, transparent 2px);
  background-size: 4px 4px;
  z-index: 0;
}
.restaurantHead .restaurantName{
  margin-left: 3px;
  font-weight: bold;
  font-size: 25pt;
  color: white;
}
.restaurantHead .restaurantStars img{
  width: 40px;
  height: 40px;
  margin-right: 2px;
  margin-left: 2px;
  filter: invert(1);
}

.restaurantHead .restaurantStars{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.restaurantHead .restaurantHeadRight img{
  width: 35px;
  height: 35px;
  filter: invert(1);
}

.restaurantHead .restaurantHeadLeft{
  margin-bottom: 10px;
}

.restaurantHead .restaurantHeadRight{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 200px;
}
.restaurantHead .restaurantHeadInfo{
  width: 100vw;
  margin: 0;
  transform: translateY(-100%);
}

.nav-tabs .nav-link[aria-selected=true]{
  color: black !important;
  font-weight: bold;
}
.nav-tabs .nav-link[aria-selected=false]{
  color: black !important;
}
.tab-content{
  margin: 15px;
}

.restaurant-section-title{
  font-size: 20pt;
  font-weight: bold;
  display: block;
}
.restaurant-bio{
  background-color: #F9FAF0; 
  border: white 2px solid;
}
.restaurant-detail{
  background-color: #F9FAF0; 
  border: white 2px solid;
}
.restaurant-reviews{
  background-color: #F9FAF0; 
  border: white 2px solid;
}
.reserve-date-div{
  height: 100px;
  background-color: #F9FAF0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}
.reserve-time-div{
  height: 100px;
  background-color: #F9FAF0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}
.reserve-submit-div{
  height: 100px;
  margin: 10px;
}
#reservation{
  height: 100%;
  width: 100%;
  background-color: #F9FAF0;
  font-weight: bold;
}

.carousel-item img{
  max-width: 100vw !important;
  height: 300px;
  object-fit: cover;
}

.setFav{
  width: 35px;
  height: 35px;
  filter: invert(1);
  position: absolute;
  top: 60px;
  right: 0;
  margin: 10px;
}
.setFav:active{
  width: 30px;
  height: 30px;
  transform: translate(-2.5px,2.5px);

}

.restaurant-hours{
  background-color: #F9FAF0;
  border: white 2px solid;
}
.restaurant-safety-protocols{
  background-color: #F9FAF0;
  border: white 2px solid;
}

#reviewStar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#reviewStar img{
  width: 35px;
  height: 35px;
  margin-right: 2px;
  margin-left: 2px;
}
.customerReviewStar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.customerReviewStar img{
  width: 20px;
  height: 20px;
  margin-right: 2px;
  margin-left: 2px;
}