/***************************************************************************/
/* This is for styling that is universal to most of the pages(EX. nav bar) */
/***************************************************************************/

/**********************/
/* nav bar css starts */
/**********************/
.siteNav{
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  width: 100%;
  height: 60px;
  background-color: rgb(119, 119, 119);
  z-index: 5;
}
.siteNav a[id="myAccount"]{
  margin-left: 20px;
  width: 50px;
  height: 100%;
}
.siteNav a[id="shoppingCart"]{
  margin-right: 20px;
  width: 50px;
  height: 100%;
}
.siteNav a[id="SiteInfo"]{
  height: 100%;
}

.transform{
  height: 40px;
  background-color: rgba(119, 119, 119,0.3);
}

.siteNav img {
  width: 30px;
  height: 30px;
}

.siteNav .siteInfo{
  display: flex;
  color: black;
}

.siteNav .siteInfo .siteTitle{
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
}
.siteNav .myAccountDiv{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
.siteNav .shoppingCartDiv{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.btn-outline-secondary:hover {
  background-color: transparent !important;
  /*border: black 3px solid;*/
}

.adoptNav{
  padding-top: 60px;
}
/********************/
/* nav bar css ends */
/********************/



/*********************/
/* footer css starts */
/*********************/
.siteFooter{
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  width: 100%;
  height: 60px;
  bottom: 0;
  background-color: rgb(119, 119, 119);
  overflow: hidden;
}
.siteFooter a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-left: 30px;
  margin-right: 30px;
  width: 100px;
}

.siteFooter > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 30px;
  margin-right: 30px;
  width: 100px;
}

.siteFooter .footerIcon{
  width: 30px;
  height: 30px;
}

.adoptFooter{
  padding-bottom: 60px;
}
/*******************/
/* footer css ends */
/*******************/